<div class="background">
  <div class="wrap">
    <div class="jumbotron marginJumbotron">
      <h1 i18n="@@copyrightHeading">Copyright</h1>
      <p i18n="@@copyrightInfo">
        Copyright © {{getYear()}} by Michael Schmitz<br />
        All rights reserved.<br />
        This website or any portion thereof may not be reproduced or used in any manner whatsoever without the express written permission of the hoster, except for the used frameworks.<br />
        Further information can be found <a routerLink="/legal" routerLinkActive="true">here</a>
      </p>
      <h2 i18n="@@copyrightFramework">Used Frameworks</h2>
      <ul>
        <li><a href="https://samuelnygaard.github.io/ng2-timezone-selector">ng2-timezone-selector</a><ng-container i18n="@@copyrightBy">by</ng-container> Samuel Nygaard
        </li>
        <li><a href="https://angular.io">Angular </a><ng-container i18n="@@copyrightBy">by</ng-container> Google</li>
        <li><a href="https://getbootstrap.com">Bootstrap4 </a><ng-container i18n="@@copyrightBy">by</ng-container> Twitter</li>
        <li><a href="https://jquery.com">jQuery </a><ng-container i18n="@@copyrightBy">by</ng-container> jQueryFoundation</li>
        <li><a href="https://github.com/FortAwesome/angular-fontawesome">FontAwesome </a><ng-container i18n="@@copyrightBy">by</ng-container> Fonticons</li>
        <li><a href="https://rxjs-dev.firebaseapp.com">RXJS </a><ng-container i18n="@@copyrightBy">by</ng-container> Google, Netflix, Microsoft</li>
        <li><a href="https://select2.org">Select2 </a><ng-container i18n="@@copyrightBy">by</ng-container> Kevin Brown</li>
        <li><a href="https://github.com/auth0/angular-jwt">AngularJWT </a><ng-container i18n="@@copyrightBy">by</ng-container> Auth0</li>
        <li><a href="https://momentjs.com/timezone">Moment-Timezone </a><ng-container i18n="@@copyrightBy">by</ng-container> JS Foundation</li>
      </ul>
      <h2 i18n="@@copyrightImages">Used Images</h2>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="card">
            <img class="card-img-top" src="assets/planet.png"/>
            <div class="card-body">
              <div class="card-text">
                <ng-container i18n="@@copyrightFrom">from </ng-container><a href="https://www.artstation.com/domenicosellaro">Domenico Sellaro</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card">
            <img class="card-img-top" src="assets/sphere.png"/>
            <div class="card-body">
              <div class="card-text">
                <ng-container i18n="@@copyrightFrom">from </ng-container><a href="https://www.artstation.com/kresimirjelusic">Kresimir Jelisoc</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card">
            <img class="card-img-top" src="assets/destroyer.png"/>
            <div class="card-body">
              <div class="card-text">
                <ng-container i18n="@@copyrightFrom">from </ng-container><a href="https://www.artstation.com/sebastienhue">Sebastien Hue</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card">
            <img class="card-img-top" src="assets/largeStation.png"/>
            <div class="card-body">
              <div class="card-text">
                <ng-container i18n="@@copyrightFrom">from </ng-container><a href="https://www.artstation.com/stefvyr">Stefanos Vyrinis</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card">
            <img class="card-img-top" src="assets/city.png"/>
            <div class="card-body">
              <div class="card-text">
                <ng-container i18n="@@copyrightFrom">from </ng-container><a href="https://www.artstation.com/sebastienhue">Sebastien Hue</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card">
            <img class="card-img-top" src="assets/city2.png"/>
            <div class="card-body">
              <div class="card-text">
                <ng-container i18n="@@copyrightFrom">from </ng-container><a href="https://www.artstation.com/sebastienhue">Sebastien Hue</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card">
            <img class="card-img-top" src="assets/spaceStation.png"/>
            <div class="card-body">
              <div class="card-text">
                <ng-container i18n="@@copyrightFrom">from </ng-container><a href="https://www.artstation.com/nicastro_gabriele">Gabriele Nicastro</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card">
            <img class="card-img-top" src="assets/spaceStation2.png"/>
            <div class="card-body">
              <div class="card-text">
                <ng-container i18n="@@copyrightFrom">from </ng-container><a href="https://www.artstation.com/fredgambino">Fred Gambino</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <empire-footer></empire-footer>
</div>
