<div class="background">
  <div class="wrap">
    <empire-logout></empire-logout>
    <div class="center text-light widthContent" style="padding-top: 15vh;">
      <img width="200" class="center" alt="Empire Logo"
           src="assets/logoOutlineWhite.png">
      <div i18n="@@validationWelcome">Welcome {{id}}</div>
      <div i18n="@@validationInfo">Please validate your E-Mail Address</div>
      <div i18n="@@validationEnteredMail">Your entered E-Mail: {{mail}}</div>
      <div i18n="@@validationSpamNotice">Also check your SPAM folder</div>
      <button type="button" [disabled]="sending" class="btn btn-link btn-block" (click)="sendMail()" (keydown.enter)="sendMail()" i18n="@@validationResend">Resend
      </button>
      <br/><br/>
      <div class="input-group">
        <input type="text" class="form-control" id="email" placeholder="Enter new Email" required
               [pattern]="Regex.email" i18n-placeholder="@@validationMailPlaceholder"
               [(ngModel)]="newMail" name="email" #emailAddress="ngModel"
               [ngbTooltip]="Errors.emailInvalid" tooltipClass="tooltipError" (keydown.enter)="updateMail()"
               [autoClose]="false" #errorTipEmail="ngbTooltip"
               (ngModelChange)="processChange(errorTipEmail, emailAddress)"
               triggers="manual" placement="bottom">
        <div class="input-group-append">
          <button type="button" [disabled]="emailAddress.invalid" class="btn btn-link" (click)="updateMail()"
                  (keydown.enter)="updateMail()" i18n="@@validationChange">Change Email
          </button>
        </div>
      </div>
      <ngb-alert *ngIf="newMsg" class="widthContent"
                 [type]="error ? 'danger' : 'success'" (close)="newMsg = false">{{ alertMessage | translateServer}}</ngb-alert>
    </div>
  </div>
  <empire-footer></empire-footer>
</div>
