<div class="row">
  <div class="col-12">
    <div class="form-group text-light">
      <div class="mb-1 btn-small">
        <span class="text-uppercase" i18n="@@welcome">Welcome</span> {{authData.id}}
        &nbsp;<button type="button" class="btn btn-sm btn-link float-right"
                      (click)="msg.emit('changeID')" i18n="@@notYou">Not you?
      </button>
      </div>
      <div class="text-uppercase" i18n="@@registrationInfo">Please enter your information</div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="form-group text-light">
      <label for="realName" class="text-uppercase" i18n="@@registrationRealName">Given and Surname</label>
      <input type="text" class="form-control" id="realName" placeholder="optional"
             i18n-placeholder="@@registrationRealNamePlaceholder" [pattern]="Regex.real" empireFocused
             [(ngModel)]="authData.realName" name="realName" #real="ngModel"
             [ngbTooltip]="Errors.realNameTooShort" tooltipClass="tooltipError"
             [autoClose]="false" #errorTipName="ngbTooltip" (ngModelChange)="processChange(errorTipName, real)"
             triggers="manual" placement="bottom"/>
    </div>
    <div class="form-group text-light">
      <label for="email" class="text-uppercase" i18n="@@registrationMail">E-Mail address</label>
      <input type="text" class="form-control" id="email" i18n-placeholder="@@registrationMailPlaceholder"
             placeholder="Please enter" required [pattern]="Regex.email" [(ngModel)]="authData.email" name="email"
             #emailAddress="ngModel" [ngbTooltip]="Errors.emailInvalid" tooltipClass="tooltipError"
             [autoClose]="false" #errorTipEmail="ngbTooltip"
             (ngModelChange)="processChange(errorTipEmail, emailAddress)"
             triggers="manual" placement="bottom">
    </div>
    <div class="text-light">
      <label for="timezone" class="text-uppercase" i18n="@@registrationTimezone">Country / Timezone</label>
      <empire-timezone-picker id="timezone" [(timezone)]="authData.timezone" class="form-control form-group p-0
            {{getValidityClass(authData.timezone)}}" (ngModelChange)="timezoneChange($event)" [guess]="true"
                              showOffset="true" i18n-placeholder="@@registrationTimezonePlaceholder"
                              placeholder="Please select your country">
      </empire-timezone-picker>
    </div>
  </div>
  <div class="col-md-6 col-12-sm">
    <div class="form-group text-light">
      <label for="dob" class="text-uppercase" i18n="@@registrationDOB">Date of Birth</label>
      <input type="text" class="form-control" id="dob" placeholder="DD-MM-YYYY or YYYY" required [pattern]="Regex.dob"
             [(ngModel)]="authData.dob" name="dob" #dob="ngModel" i18n-placeholder="@@registrationDOBPlaceholder"
             [ngbTooltip]="Errors.dobInvalid" tooltipClass="tooltipError" [autoClose]="false" #errorTipDoB="ngbTooltip"
             (ngModelChange)="processChange(errorTipDoB, dob)" triggers="manual" placement="bottom">
    </div>
    <div class="form-group text-light">
      <label for="pwd" class="text-uppercase" i18n="@@registrationPwd">Password</label>
      <input type="password" class="form-control" id="pwd" placeholder="Please enter" required
             i18n-placeholder="@@registrationPwdPlaceholder" [minlength]="8" [pattern]="Regex.pwd"
             [(ngModel)]="authData.pwd" name="pwd" #pwd="ngModel" [ngbTooltip]="Errors.pwdInvalid"
             tooltipClass="tooltipError" [autoClose]="false" #errorTipPwd="ngbTooltip"
             (ngModelChange)="processChange(errorTipPwd, pwd)" triggers="manual" placement="bottom"
             (keydown.enter)="processRegistration()">
      <label for="pwd" class="text-uppercase" i18n-ngbTooltip="@@registrationPwdReqTooltip"
             ngbTooltip="Please use at least 8 characters, one number and one upper case letter"><span class="btn-sm"  i18n="@@registrationPwdReq">Password Requirements</span></label>
    </div>
    <button type="button"
            [disabled]="emailAddress.invalid || pwd.invalid || authData.timezone === undefined || dob.invalid"
            class="btn btn-link btn-block align-bottom" (click)="processRegistration()" i18n="@@registrationButton">Register
    </button>
  </div>
</div>
