<footer class="footer">
  <div class="row">
    <div class="col-12 d-sm-none footerSmall">
      <a routerLink="/" routerLinkActive="true" i18n="@@footerHome">Home</a>
      <a routerLink="/legal" routerLinkActive="true" i18n="@@footerLegal">Legal Disclosure</a>
    </div>
    <div class="col-12 d-sm-none footerSmall">
      <a routerLink="/dataSecurity" routerLinkActive="true" i18n="@@footerData">Data&nbsp;Security</a>
      <a routerLink="/copyright" routerLinkActive="true" i18n="@@footerCopyright">Copyright</a>
    </div>
    <div class="col-12 d-sm-none footerSmall">
      <span class="text-light">© {{getYear()}}</span>
      <empire-language-switch></empire-language-switch>
    </div>
    <div class="col-sm-12 d-none d-sm-block">
      <a routerLink="/" routerLinkActive="true" i18n="@@footerHome">Home</a>
      <a routerLink="/legal" routerLinkActive="true" i18n="@@footerLegal">Legal Disclosure</a>

      <a routerLink="/dataSecurity" routerLinkActive="true" i18n="@@footerData">Data&nbsp;Security</a>
      <a routerLink="/copyright" routerLinkActive="true" i18n="@@footerCopyright">Copyright</a>

      <span class="text-light">© {{getYear()}}</span>
      <empire-language-switch></empire-language-switch>
    </div>
  </div>
</footer>
