a {
  margin-right: 1em;
  margin-left: 1em;
  color: white;
}

.footer {
  max-width: 100vw;
  min-height: 70px;
  line-height: 70px;
  text-align: center;
  margin-top: -70px;
}

.footerSmall {
  line-height: 35px;
}
