<div class="background">
  <div class="wrap">
    <div class="center text-light widthContent" style="padding-top: 15vh;">
      <img width="200" class="center" alt="Empire Logo"
           src="assets/logoOutlineWhite.png">
      <div *ngIf="!sending && !newMsg" class="input-group">
        <input type="password" class="form-control text-light" [pattern]="Regex.pwd" required i18n-placeholder="@@resetPlaceholder" placeholder="Please enter"
               [(ngModel)]="newPwd" id="pwd" #pwd="ngModel" (keydown.enter)="resetPassword()" [ngbTooltip]="Errors.pwdInvalid" [minLength]="8"
               tooltipClass="tooltipError" empireFocused [autoClose]="false" #errorTip="ngbTooltip" (ngModelChange)="processChange(errorTip, pwd)"
               triggers="manual" placement="bottom"/>
        <button [disabled]="pwd.invalid" class="input-group-append btn btn-link" (click)="resetPassword()" i18n="@@resetPassword">Update Password</button>
        <label for="pwd" class="text-uppercase" i18n-ngbTooltip="@@registrationPwdReqTooltip"
               ngbTooltip="Please use at least 8 characters, one number and one upper case letter"><span class="btn-sm"  i18n="@@registrationPwdReq">Password Requirements</span></label>
      </div>
      <svg-icon *ngIf="sending" src="assets/loading.svg" [svgStyle]="{'fill':'#FFFFFF', 'width': '20rem', 'margin-left': 'auto',
  'margin-right': 'auto'}"></svg-icon>
      <ngb-alert *ngIf="newMsg" class="widthContent"
                 [type]="error ? 'danger' : 'success'" (close)="newMsg = false">{{ alertMessage | translateServer }}</ngb-alert>
    </div>
  </div>
  <empire-footer></empire-footer>
</div>
