.link {
  padding-left: 1em;
  padding-right: 1em;
  color: white;
}

a:hover {
  color: white;
}


.dropdownItem {
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.myDropup {
  background-color: #d1d4d7a0;
  border: 1px solid black;
}

.myDropupBlack {
  background-color: black;
  padding: 0;
}

.dropup .dropdown-toggle::after {
  display: none;
}

.current {
  background: white;
  color: black;
  border: 2px solid black;
}
