<div ngbDropdown placement="top" class="d-inline-block link">
  <a ngbDropdownToggle class="dropdown-toggle" data-toggle="dropdown"><fa-icon icon="globe"></fa-icon></a>
  <div ngbDropdownMenu class="myDropupBlack dropdown-menu">
    <div class="myDropup">
      <a class="btn btn-link dropdownItem dropdown-menu-item" [ngClass]="{'current': language.getLanguage() === 'en'}" href="/en{{language.getUrl()}}" i18n="@@languageEnglish">English</a>
      <a class="btn btn-link dropdownItem dropdown-menu-item" [ngClass]="{'current': language.getLanguage() === 'de'}" href="/de{{language.getUrl()}}" i18n="@@languageGerman">German</a>
    </div>
  </div>
</div>
