<div class="background">
  <div class="wrap">
    <div class="center text-light widthContent" style="padding-top: 15vh;">
      <img width="200" class="center" alt="Empire Logo"
           src="assets/logoOutlineWhite.png">
      <p class="text-light" i18n="@@resetInfo">With the following button you can request a password reset link or your ID</p>
      <div *ngIf="!sending && !newMsg" class="input-group">
        <input type="text" class="form-control text-light" required i18n-placeholder="@@resetPlaceholder" placeholder="Please enter"
               [(ngModel)]="id" (keydown.enter)="requestPwd()" empireFocused/>
        <button class="input-group-append btn btn-link" (click)="requestPwd()" i18n="@@resetBtn">Request</button>
      </div>
      <svg-icon *ngIf="sending" src="assets/loading.svg" [svgStyle]="{'fill':'#FFFFFF', 'width': '20rem', 'margin-left': 'auto',
  'margin-right': 'auto'}"></svg-icon>
      <ngb-alert *ngIf="newMsg" class="widthContent"
                 [type]="error ? 'danger' : 'success'" (close)="newMsg = false">{{ alertMessage | translateServer }}</ngb-alert>
    </div>
  </div>
  <empire-footer></empire-footer>
</div>
