<div class="form-group text-light">
  <div class="mb-1 btn-small">
    <span class="text-uppercase" i18n="@@welcome">Welcome</span> {{authData.id}}
    &nbsp;<button type="button" class="btn btn-sm btn-link float-right" (click)="msg.emit('changeID')" i18n="@@notYou">Not you?</button>
  </div>
  <label for="loginPw" class="text-uppercase" i18n="@@loginPwd">Please enter your password</label>
  <div class="input-group">
    <input type="password" class="form-control text-light" id="loginPw" i18n-placeholder="@@loginPwdPlaceholder" placeholder="Please enter" required
           [minlength]="8" [(ngModel)]="authData.pwd" name="loginPwd" #pwd="ngModel"
           [ngbTooltip]="errors.pwdTooShort" (keydown.enter)="performLogin()"
           tooltipClass="tooltipError" empireFocused
           [autoClose]="false" #errorTip="ngbTooltip" (ngModelChange)="processChange(errorTip, pwd)"
           triggers="manual" placement="bottom"/>
    <div class="input-group-append">
      <button type="button" [disabled]="pwd.invalid" class="btn btn-link"
              (click)="performLogin()" (keydown.enter)="performLogin()">
        <fa-icon icon="sign-in-alt"></fa-icon>
      </button>
    </div>
  </div>
</div>
