<div class="background">
  <div class="wrap">
    <div class="jumbotron marginJumbotron">
      <h1 i18n="@@legalHeading">Legal Disclosure</h1>
      <ng-container i18n="@@legalParagraph">Information in accordance with § 5 TMG</ng-container>
      <h2 i18n="@@legalDisclaimer">Disclaimer</h2>
      <h4 i18n="@@legalContent">Accountability for contents</h4>
      <p i18n="@@legalContentDetail">
        The contents of our pages have been created with the utmost care. However, we cannot be held responsible for the
        correctness, completeness and topicality of the contents. As a service provider we are responsible according to
        §
        7
        Abs.1 TMG for our own content on these pages according to the general laws. According to §§ 8 to 10 TMG, we are
        not
        obliged as a service provider to monitor transmitted or stored third-party information or to investigate
        circumstances that indicate illegal activity. Obligations to remove or block the use of information in
        accordance
        with general laws remain unaffected by this. However, any liability in this respect is only possible from the
        time
        of knowledge of a concrete violation of the law. As soon as we become aware of such infringements, we will
        remove
        the content immediately.
      </p>
      <h4 i18n="@@legalLink">Accountability for links</h4>
      <p i18n="@@legalLinkDetail">
        Our website may contain links to external websites of third parties over whose content we have no influence.
        Therefore, we cannot assume any liability for these external contents. The respective provider or operator of
        the
        pages is always responsible for the contents of the linked pages. The linked pages were checked for possible
        legal
        infringements at the time of linking. Illegal contents were not recognizable at the time of linking. However, a
        permanent control of the contents of the linked pages is not reasonable without concrete evidence of a violation
        of
        the law. As soon as we become aware of any legal infringements, we will remove such links immediately.
      </p>
      <h4 i18n="@@legalCopyright">Copyright</h4>
      <p i18n="@@legalCopyrightDetail">
        The contents and works on these pages created by the site operators are subject to German copyright law. The
        duplication, processing, distribution and any kind of use outside the limits of copyright law require the
        written
        consent of the respective author or creator. Downloads and copies of these pages are only permitted for private,
        non-commercial use. Insofar as the content on this site was not created by the operator, the copyrights of third
        parties are respected. In particular contents of third parties are marked as such. Should you nevertheless
        become
        aware of an infringement of copyright, please inform us accordingly. As soon as we become aware of any
        infringements, we will remove such content immediately.
      </p>
      <h4 i18n="@@legalPrivacy">Privacy protection</h4>
      <p i18n="@@legalPrivacyDetail">
        In general, it is possible to use our website without providing personal data. Insofar as personal data (e.g.
        name,
        address or e-mail addresses) is collected on our pages, this is always done on a voluntary basis as far as
        possible.
        This data will not be passed on to third parties without your express consent. We would like to point out that
        data
        transmission on the Internet (e.g. communication by e-mail) can be subject to security gaps. A complete
        protection
        of the data against access by third parties is not possible. The use of contact data published within the scope
        of
        the imprint obligation by third parties to send unsolicited advertising and information material is hereby
        expressly
        prohibited. The operators of this website expressly reserve the right to take legal action against unsolicited
        mailing or e-mailing of spam and other similar advertising materials.
      </p>
      <h2 i18n="@@legalContact">Contact Information</h2>
      <p>
        Michael Schmitz<br/>
        Kriegerheimstraße 15<br/>
        90765 Fürth<br/>
      </p>
      <p>
        E-Mail: <a href="mailto:contact@cloud-in.space">contact@cloud-in.space</a><br/>
        <ng-container i18n="@@legalInternet">Internet address:</ng-container>
        <a href="cloud-in.space" target="_blank"> empire.cloud-in.space</a>
      </p>
      <div class="jumbotron darker">
        <empire-contact-form></empire-contact-form>
      </div>
    </div>
  </div>
  <empire-footer></empire-footer>
</div>
