<div class="background">
  <div class="wrap">
    <div class="center text-light widthContent" style="padding-top: 15vh;">
      <img width="200" class="center" alt="Empire Logo"
           src="assets/logoOutlineWhite.png">
      <button *ngIf="!sending && !newMsg" class="btn btn-link btn-block" (click)="validateEmail()" i18n="@@validationMail">Validate Email</button>
      <svg-icon *ngIf="sending" src="assets/loading.svg" [svgStyle]="{'fill':'#FFFFFF', 'width': '20rem', 'margin-left': 'auto',
  'margin-right': 'auto'}"></svg-icon>
      <ngb-alert *ngIf="newMsg" class="widthContent"
                 [type]="error ? 'danger' : 'success'" (close)="newMsg = false">{{ alertMessage | translateServer }}</ngb-alert>
    </div>
  </div>
  <empire-footer></empire-footer>
</div>
