.jumbotron {
  background-color: rgba(233, 236, 239, .7);
}

.select2-container--default .select2-selection--single {
  background: transparent;
  border: none;
  height: 100%;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  background-color: black;
  color: white;
}

.select2-container--default .select2-results > .select2-results__options {
  background-color: black;
  color: white;
}

.select2-container--open .select2-dropdown--below {
  border: 2px solid white;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  color: black;
  background-color: white;
}

.select2-search--dropdown {
  padding: 0;
  border-bottom: 2px solid white;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  color: #A4A7AB;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #A4A7AB;
  height: 100%;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
}

.valid {
  border-left: 5px solid darkgreen;
}

.invalid {
  border-left: 5px solid darkred;
}

.form-control {
  background-color: transparent;
  border-right: 2px solid white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 0;
}

.btn-link {
  color: white;
  border: 2px solid white;
  height: calc(2.25rem + 2px);
  border-radius: 0;
}

.btn-link:disabled {
  border: 2px solid white;
  opacity: 1;
  color: #6c757d;
  border-radius: 0;
}

.btn-sm {
  padding: 0.125rem 0.25rem;
  font-size: 0.75rem;
  height: initial;
}

.btn-link:hover, .btn-link:focus {
  border: 2px solid white;
  border-radius: 0;
}

.tooltipError .tooltip-inner {
  background-color: darkred;
}

.tooltipError .arrow::before {
  border-bottom-color: darkred;
}

input.text-light:hover, input.text-light:focus {
  color: #495057 !important;
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
    opacity: 1;
  }
  &::-moz-placeholder {
    color: $color;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &:placeholder-shown {
    color: $color;
  }
}
