
@font-face {
  font-family: metropolis;
  src: url("src/assets/font/Metropolis-Thin.otf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: metropolis;
  src: url("src/assets/font/Metropolis-ThinItalic.otf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: metropolis;
  src: url("src/assets/font/Metropolis-ExtraLight.otf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: metropolis;
  src: url("src/assets/font/Metropolis-ExtraLightItalic.otf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: metropolis;
  src: url("src/assets/font/Metropolis-Light.otf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: metropolis;
  src: url("src/assets/font/Metropolis-LightItalic.otf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: metropolis;
  src: url("src/assets/font/Metropolis-Regular.otf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: metropolis;
  src: url("src/assets/font/Metropolis-RegularItalic.otf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: metropolis;
  src: url("src/assets/font/Metropolis-Regular.otf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: metropolis;
  src: url("src/assets/font/Metropolis-RegularItalic.otf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: metropolis;
  src: url("src/assets/font/Metropolis-Medium.otf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: metropolis;
  src: url("src/assets/font/Metropolis-MediumItalic.otf") format("truetype");
  font-weight: 500;
  font-style: italic;
}@font-face {
  font-family: metropolis;
  src: url("src/assets/font/Metropolis-SemiBold.otf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: metropolis;
  src: url("src/assets/font/Metropolis-SemiBoldItalic.otf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: metropolis;
  src: url("src/assets/font/Metropolis-Bold.otf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: metropolis;
  src: url("src/assets/font/Metropolis-BoldItalic.otf") format("truetype");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: metropolis;
  src: url("src/assets/font/Metropolis-Bold.otf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: metropolis;
  src: url("src/assets/font/Metropolis-BoldItalic.otf") format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: metropolis;
  src: url("src/assets/font/Metropolis-ExtraBold.otf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: metropolis;
  src: url("src/assets/font/Metropolis-ExtraBoldItalic.otf") format("truetype");
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: metropolis;
  src: url("src/assets/font/Metropolis-Black.otf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: metropolis;
  src: url("src/assets/font/Metropolis-BlackItalic.otf") format("truetype");
  font-style: italic;
  font-weight: 900;
}
* {
  font-family: metropolis, monospace;
}
