/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap';
@import '~select2/dist/css/select2.min.css';
@import "customizeBootstrap";

[placeholder] {
  @include placeholder(#A4A7AB);
}

.background {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

a {
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3vh;
}

.widthContentJustify {
  width: fit-content;
  padding: 2rem;
}

.jumbotron {
  //e9ecef
  background-color: #d1d4d7a0;
  padding: 1rem;
  border-radius: 0;
}

.marginJumbotron {
  margin: 1em;
}

h2 {
  padding-top: 1em;
}

h4 {
  padding-top: 0.25em;
}

.darker {
  //d1d4d7a0
  background-color: #6b737ba0;
  margin-bottom: 0;
}

.wrap {
  min-height: 100%;
  padding-bottom: 70px;
  overflow: auto;
}
