<div class="background">
  <div class="wrap">
    <div class="center" style="padding-top: 15vh;">
      <img width="200" class="center" alt="Empire Logo"
           src="assets/logoOutlineWhite.png">
    </div>
    <div class="center widthContentJustify">
      <form #authForm="ngForm">
        <div *ngIf="state === AuthState.name || state === AuthState.nameError"
             class="form-group text-light">
          <label for="imperialId" class="text-uppercase" i18n="@@authLabel">Please enter your imperial id</label>
          <div class="input-group">
            <input type="text" class="form-control text-light" id="imperialId" i18n-placeholder="@@authPlaceholder" placeholder="Please enter" required
                   [minlength]="5" (keydown.enter)="performNext()"
                   [(ngModel)]="authData.id" name="user" #empireId="ngModel" [ngbTooltip]="Errors.idTooShort"
                   tooltipClass="tooltipError" empireFocused
                   [autoClose]="false" #errorTip="ngbTooltip" (ngModelChange)="processChange(errorTip, empireId)"
                   triggers="manual" placement="bottom"/>
            <div class="input-group-append">
              <button type="button" [disabled]="empireId.invalid" class="btn btn-link"
                      (click)="performNext()" (keydown.enter)="performNext()">
                <fa-icon icon="sign-in-alt"></fa-icon>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="state === AuthState.login || state === AuthState.loginError || state === AuthState.loginLoading"
             [hidden]="state === AuthState.loginLoading">
          <empire-login [authData]="authData" (msg)="processMsg($event, AuthState.loginError)"></empire-login>
        </div>
        <div
          *ngIf="state === AuthState.register || state === AuthState.registerError || state === AuthState.registerLoading"
          [hidden]="state === AuthState.registerLoading">
          <empire-registration [authData]="authData"
                               (msg)="processMsg($event,  AuthState.registerError)"></empire-registration>
        </div>
      </form>
      <a *ngIf="state === AuthState.name || state === AuthState.nameError" routerLink="/reset" routerLinkActive="true" i18n="@@authForgot">Forgot ID or password?</a>
      <ngb-alert *ngIf="isError()"
                 [ngClass]="{'widthContentDouble': state === AuthState.register || state === AuthState.registerError,
             'widthContent': state != AuthState.registerError && state != AuthState.register}"
                 type="danger" (close)="invertError()">{{ alertMessage | translateServer }}</ngb-alert>
      <svg-icon *ngIf="isLoading()" src="assets/loading.svg" [svgStyle]="{'fill':'#FFFFFF'}"></svg-icon>
    </div>
  </div>
  <empire-footer></empire-footer>
</div>
